.feynman__title{
  width: 648px;
  margin-block-end: 0;
  margin-block-start: 0;
  margin-bottom: 0;
  align-self: center;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  z-index: 2;
}
