@import url(./__title/feynman__title.css);
@import url(./__subtitle/feynman__subtitle.css);
@import url(./__pic/feynman__pic.css);
@import url(./__link/feynman__link.css);

.feynman{
  padding-top: 80px;
  min-height: 790px;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
}
